body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  letter-spacing: .03em;
  outline: none;
  box-sizing: border-box;
  line-height: 1.2;
}

@font-face {
  font-family: FredokaOne;
  src: url(../font/FredokaOne.woff) format('woff');
}

@font-face {
  font-family: Rubik;
  src: url(../font/Rubik.woff) format('woff');
}

@font-face {
  font-family: Rubik;
  src: url(../font/Rubik-Bold.woff) format('woff');
  font-weight: bold;
}

h1, h2, .header__logo-text, .footer__logo-text, .menu__item {
  text-transform: uppercase;
  font-family: FredokaOne;
}

h3 {
  font-family: FredokaOne;
}

.article:first-child,
.article:nth-child(2),
.article:nth-child(5) {
  min-height: 100vh;
  width: 100%;
}

.article:first-child {
  background: url(../img/bg1.png) left no-repeat;
  background-size: cover;
  transition: 1s;
}

.header {
  display: flex;
  justify-content: space-around;
  padding: .2em 5em;
}

.header__logo {
  margin-top: 3.15em;
  margin-right: 1.3em;
  width: 240px;
  height: 56px;
  display: flex;
}

.header__logo-text {
  font-size: 2rem;
  margin: .2em 0 0 .7em;
}

.menu {
  width: 55%;
  margin-right: 3em;
  margin-right: 1em;
}

.menu__items {
  display: flex;
  justify-content: space-around;
  margin-top: 1.3em;
}

.menu__item {
  text-align: center;
  margin-top: 2.2em;
  font-size: 1.3rem;
  list-style-type: none;
}

.menu__item-link {
  color: white;
  text-decoration: none;
}

.menu__item:hover::before {
  content: "•";
  position: absolute;
  margin-top: .35em;
  font-size: 2rem;
}

.menu__item:hover, .menu__item::before, .menu__item-link:hover {
  color: #00e676;
  transition: .4s;
}

.menu__button {
  display: none;
}

.wrapper-header {
  position: absolute;
  width: 100%;
  height: 88vh;
  display: flex;
  align-items: center;
}

.wrapper__header {
  font-size: 5.4rem;
  letter-spacing: .033em;
  margin-left: 2.5em;
}

.wrapper__header::before {
  content: '';
  position: absolute;
  width: 180px;
  height: 20px;
  background-color: #00e676;
  border-radius: 30px;
  margin-top: 110px;
}

.article__link {
  width: 100%;
  display: block; 
  position: absolute;
  margin: auto;
  top: 83vh;
  display: flex;
}

.article__link-image {
  margin: auto;
}

.article:nth-child(2) {
  background: url(../img/map.png) no-repeat right;
  background-size: 60%;
  display: flex;
  align-items: center;
}

.container {
  width: 40vw;
  height: auto;
  margin: auto 10em;
}

.container__header, .article__header {
  font-size: 2.8rem;
  letter-spacing: .03em;
}

.container__header::before,
.article__header::before {
  content: "";
  width: 90px; 
  height: 1px;
  position: absolute;
  margin-top: 57px;
  border-top: 7px dotted #00e676;
}

.container__text,
.item__text {
  font-size: 1.5em;
  font-family: Rubik;
  margin-top: 1.5em;
}

.container__button, .wrapper__button {
  border-radius: 28px;
  background-color: #00e676;
  width: 194px;
  height: 56px;
  border: none;
  font-family: Rubik;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  font-size: 1.3rem;
  margin-top: 1em;
  letter-spacing: .03em;
}

.container__button:hover, .wrapper__button:hover {
  background-color: black;
  border: 2px solid #00e676;
  color: #00e676;
  transition: 1s;
  box-shadow: 0 0 20px #00e676;
}

.article__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  width: 90%;
  min-height: 75vh;
  margin: auto;
}

.item__header {
  font-size: 1.9rem;
  letter-spacing: .05em;
}

.article__wrapper-item {
  width: 20vw;
  min-width: 20em;
}

.article__header {
  margin-left: 3.33em;
}

.article:nth-child(4) .wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.wrapper__item {
  width: calc(100%/3);
  min-width: 400px;
  overflow: hidden;
  margin-top: 2em;
}

.wrapper__item-image {
  width: 100%;
  height: 100%;
} 
.wrapper__item-image:hover {
  background-size: 12.7%;
  transform: scale(1.2);
  transition: .7s;
}

.wrapper__item:nth-child(1) .wrapper__item-image {
  background: url(../img/comp1_2.png) no-repeat center;
}

.wrapper__item:nth-child(2) .wrapper__item-image {
  background: url(../img/comp2_2.png) no-repeat center;
}

.wrapper__item:nth-child(3) .wrapper__item-image {
  background: url(../img/comp2_2.png) no-repeat center;
}

.wrapper__item:nth-child(1):hover .wrapper__item-image {
  background: url(../img/comp1_2_h.png) no-repeat center;
}

.wrapper__item:nth-child(2):hover .wrapper__item-image {
  background: url(../img/comp2_2_h.png) no-repeat center;
}

.wrapper__item:nth-child(3):hover .wrapper__item-image {
  background: url(../img/comp3_2_h.png) no-repeat center;
}

.article:nth-child(5) {
  background: url(../img/bg2.png) no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.article:nth-child(5) .wrapper {
  margin: auto;
}

img[alt=arrow] {
  margin-left: 6em;
  position: relative;
  top: .45em;
}

img[alt=pagination] {
  margin-top: 3.2em;
}

.article:nth-child(6) .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.article:nth-child(6) .wrapper > .wrapper {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  min-width: 1000px;
}

.article:nth-child(6) .container {
  margin: auto;
  text-align: center;
}

.article:nth-child(7) .wrapper {
  margin-top: 9.3em;
  height: 240px;
  width: 100%;
  background: #00e676 url(../img/map_sub.png) no-repeat top right;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.wrapper__button {
  background-color: black;
  color: #00e676;
}

.wrapper__button:hover {
  background-color: transparent;
  color: black;
  transition: 1s;
  box-shadow: 0 0 20px black;
}

.wrapper__text {
  color: black;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: FredokaOne;
}